:root {
    --background-bunker:  #0F1618;
    --background-footer-pickled_bluewood: #33435E;
    --background-detalles: #4d4d4d;
    --header-title: #FF0000;
    --color-botones: #0E7C10;
    --color-botones-hover: #507350;
    --text-color: #FDFBFC;
    --texto-botones: #DFF0D8;
    --input-background: #EEEAF2;
    --input-color-placeholder: #AA83C8;
    --input-color: #8B48BF;

    /* buttons Categories */
    --button1: #427645;
    --button2: #3E773C; 
    --button3: #3D773F;
    --button4: #2A7A25;
    --button5: #297A28;
    --button6: #287A2B;
    --button7: #277A2E; 
    --button8: #207B1A;
    --button9: #1F7B1D;
    --button10: #1E7B20;

    --pickled_bluewood: #33435E;
    --jungle_green: #28A17D ;
    --zambezi: #605453;
    /* Second Palette */
    --portage: #9668F5;
    --royal_black: #2A293E;
    --ebony: #040307;
    --capecod: #313D37;
    /* Fuentes */
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Bebas Neue', cursive;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

#id28 {
    background: var(--button1);
}

#id12 {
    background: var(--button2);
}

#id16 {
    background: var(--button3);
}

#id35 {
    background: var(--button4);
}

#id80 {
    background: var(--button5);
}

#id99 {
    background: var(--button6);
}

#id18 {
    background: var(--button7);
}

#id10751 {
    background: var(--button8);
}

#id14 {
    background: var(--button9);
}

#id36 {
    background: var(--button10);
}

#id27 {
    background: var(--button9);
}

#id10402 {
    background: var(--button8);
}

#id9648 {
    background: var(--button7);
}

#id10749 {
    background: var(--button6);
}

#id878 {
    background: var(--button5);
}

#id10770 {
    background: var(--button4);
}

#id53 {
    background: var(--button3);
}

#id10752 {
    background: var(--button2);
}

#id37 {
    background: var(--button1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background: var(--background-bunker);
}

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dosis', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

svg {
    width: 30px;
    height: 30px;
    fill: white;
}

h1,
h2 {
    font-size: 2.4rem;
    color: var(--text-color);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-title2);
}

h3 {
    color: var(--text-color);
    font-weight: var(--font-weight-text2);
    font-size: 1.6rem;
}

img {
    aspect-ratio: 1 / 1;
}

input {
    background-color: var(--input-background);
    color: var(--input-color);
    border: none;
    font-size: 1.8rem;
    padding-left: 16px;
}

input::placeholder {
    color: var(--input-color-placeholder);
    font-family: var(--font-family-text);
}

button {
    background-color: var(--color-botones);
    border: none;
    color: var(--text-color);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text2);
    font-size: 1.4rem;
    cursor: pointer;
}

.scrolling::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrolling::-webkit-scrollbar-button:increment,.scrolling::-webkit-scrollbar-button {
    display: none;
} 

.scrolling::-webkit-scrollbar:horizontal {
    height: 4px;
}

.scrolling::-webkit-scrollbar-thumb {
    background-color: var(--header-title);
    border-radius: 4px;
}

/* Header */

.header {
    width: 100%;
    height: 9vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.hamburger {
    min-height: 30px;
    max-width: 50px;
    cursor: pointer;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: var(--text-color);
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .5s;
    transition-property: transform,opacity;
}
.hamburger-inner:before {
    top: 10px;
}
.hamburger-inner:after {
    top: 20px;
}

.hamburger.open .hamburger-inner {
    transform: translate3d(0,10px,0) rotate(45deg);
}
.hamburger.open .hamburger-inner:after {
    transform: translate3d(0,-20px,0) rotate(-90deg);
}
.hamburger.open .hamburger-inner:before {
    transform: translate3d(0,-10px,0) rotate(90deg);
}

.header-title {
    color: var(--header-title);
}

.respmenu {
    color: white;
    position: absolute;
    background: #123456;
    min-height: 48px;
    z-index: 100;
    left: 0;
    top: 9vh;
    width: 100%;
}

.respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid var(--background-footer-pickled_bluewood);
    max-width: 100%;
    background: var(--background-bunker);
    font-variant: small-caps;
    text-shadow: 1px 1px black;
}

.menu ul {
    display: flex;
    justify-content: space-between  ;
}
.menu a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.menu li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--background-bunker);
    text-align: center;
    color: #fff;
}

.menu li:hover {
    border-bottom: 1px solid red;
}

.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: nowrap
}

.header-searchForm input {
    height: 35px;
    width: 70%;
    border-radius: 8px;
}

.header-searchForm svg {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.scale-up-right {
	animation: scale-up-right 1s linear 0.3s both;
}

@keyframes scale-up-right {
    0% {
        transform: scale(0.0);
        transform-origin: 100% 100%;
    }

    50% {
        transform: scale(0.5);
        transform-origin: 100% 100%;
    }

    100% {
        transform: scale(1);
        transform-origin: 100% 100%;
    }
}

/* Main */

.main {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

#movieBackground {   
    width: 100%; 
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.movieDetails {
    padding: 0 10px;
}

.movieDetails_characteristics {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.movieDetailScore_star {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.movieDetailScore_star svg {
    width: 15px;
    height: 15px;
    fill: var(--header-title);
    padding-right: 4px;
}

.movieDetail-score {
    display: inline-block;
    text-align: right;
    width: 4%;
    color: var(--text-color);
    font-weight: var(--font-weight-title2)
}

.movieDetail-duration {
    display: inline-block;
    text-align: right;
    width: 18%;
    color: var(--text-color);
    font-weight: var(--font-weight-title2)
}

.movieDetail-trending {
    width: 86px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--text-color);
    background: var(--color-botones);
    font-weight: var(--font-weight-title2);
    border-radius: 5px;
}

.movieDetail-title {
    display: inline-block;
    width: 80%;
    margin: 0 0 16px;
    padding: 0;
}

.generalDescription {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--background-bunker);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    padding: 10px;
}

.cardDescription {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.generalDescription .movie-img {
    height: 50%;
    width: 80%;
}

.generalDescription svg {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border:1px solid;
    fill: var(--text-color);
}

.movieDetails_genres {
    width: 70%;
    display: flex;
    justify-content: space-around;
    color: var(--text-color);
}

.genre-container {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.divGenre {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.movieDetail-description {
    color: var(--text-color);
    margin: 0 0 24px;
}

.movieDetails_buttons {
    display: flex;
    justify-content: space-around;
}

.movieDetail_btn-play {
    cursor: pointer;
    text-decoration: none;
}

.movieDetail_btn-play span {
    width: 86px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--text-color);
    background: var(--color-botones);
    font-weight: var(--font-weight-title2);
    border-radius: 5px;
}

.movieDetail_btn-play span:hover,
.movieDetail_btn-play span:focus {
    background-color: var(--color-botones-hover);
}

.movieDetail_btn-play span svg {
    width: 15px;
    height: 15px;
    fill: var(--text-color);
    padding-right: 4px;
}

.movieDetail_btn-info {
    cursor: pointer;
    text-decoration: none;
}

.movieDetail_btn-info span {
    width: 86px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background: var(--color-botones);
    font-weight: var(--font-weight-title2);
    border-radius: 5px;
}

.movieDetail_btn-info span:hover,
.movieDetail_btn-info span:focus {
    background-color: var(--color-botones-hover);
}

.movieDetail_btn-info span svg {
    width: 15px;
    height: 15px;
    fill: var(--text-color);
    padding-right: 4px;
}

/* Trending */

.trending {
    width: 100%;
    height: 300px;
    padding: 10px;
}

.trendingPreview-title {
    margin-bottom: 16px;
}

.trendingPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
}

.trendingPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
}

.trendingPreview-btn:hover,
.trendingPreview-btn:focus {
    background-color: var(--color-botones-hover);
}

.trendingPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
    justify-content: center;
}

.trendingPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
}

.trendingHomeBack {
    margin-left: 25px;
}

.trendingPagePreview-movieList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.trendingPagePreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.trendingPagePreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
}

/* Related Movies */

.related {
    width: 100%;
    height: 300px;
    padding: 10px;
}

.relatedMovies-title {
    margin-bottom: 16px;
}

.relatedPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
}

.relatedPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
}

.relatedPreview-btn:hover,
.relatedPreview-btn:focus {
    background-color: var(--color-botones-hover);
}

.relatedPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
}

.relatedPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.relatedPreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
}

.relatedHomeBack {
    margin-left: 25px;
}

.relatedPagePreview-movieList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.relatedPagePreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.relatedPagePreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
}

/* Categories */

.categories {
    width: 100%;
    height: 110px;
    padding: 10px;
}

.categoriesPreview {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.categoriesPreview-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    gap: 10px;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.categoriesPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
}

.homeBack {
    cursor: pointer;
}

.categoriesPreview-list .category-container .category-title {
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.categoriesPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.categoriesPreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
}

.categories-title {
    margin-bottom: 16px;
}

.categories-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
}

.categories-btn:hover,
.categories-btn:focus {
    background-color: var(--color-botones-hover);
}

.categories-list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 52px;
    padding-left: 24px;
}

.categories-list .category-container {
    display: inline-block;
    margin-right: 8px;
}

.categories-list .category-container .category-title {
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.categoriesHomeBack {
    margin-left: 25px;
}

.categoriesPagePreview-movieList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Popular */

.popular {
    width: 100%;
    height: 300px;
    padding: 10px;
}

.popularMovies-title {
    margin-bottom: 16px;
}

.popularPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
}

.popularPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
}

.popularPreview-btn:hover,
.popularPreview-btn:focus {
    background-color: var(--color-botones-hover);
}

.popularPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
}

.popularPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.popularPreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
}

.popularHomeBack {
    margin-left: 25px;
}

.popularPagePreview-movieList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.popularPagePreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.popularPagePreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

/* Upcoming */

.upcoming {
    width: 100%;
    height: 300px;
    padding: 10px;
}

.upcomingMovie-title {
    margin-bottom: 16px;
}

.upcomingPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
}

.upcomingPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
}

.upcomingPreview-btn:hover,
.upcomingPreview-btn:focus {
    background-color: var(--color-botones-hover);
}

.upcomingPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
}

.upcomingPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.upcomingPreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
}

.upcomingHomeBack {
    margin-left: 25px;
}

.upcomingPagePreview-movieList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.upcomingPagePreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.upcomingPagePreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
}

/* Footer */

.footer {
    width: 100%;
    height: 50px;
    background-color: var(--background-footer-pickled_bluewood);
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 10px;
}

.footer svg:hover,
.footer svg:focus {
    fill: var(--color-botones-hover);
}

/* Navigation */
.inactive {
    display: none;
}

@media only screen and (min-width:768px) {
    #movieBackground {   
        width: 50%; 
        height: 400px;
        background-repeat: no-repeat;
        background-size: container;
        background-position: center;
    }
}